<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CreoWebServiceDefPortBinding" />
                <binding name="BasicHttpBinding_IService1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:8023/ShapeWebService" binding="basicHttpBinding"
                bindingConfiguration="CreoWebServiceDefPortBinding" contract="ServiceReference1.CreoWebServiceDef"
                name="CreoWebServiceDefPort" />
            <endpoint address="http://localhost:59392/TransformerService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
                contract="ServiceReference2.IService1" name="BasicHttpBinding_IService1" />
        </client>
    </system.serviceModel>
</configuration>